<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <title>About</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    </head>

    <body>
            <h1>Rango says :</h1>
            <i>{{ italicmessage }}</i> <br />
            Here is the about page<br />
            <a href='..'>Go Home</a>
    </body>

</html>