
<!DOCTYPE html>

{% load static %}

<html>

  <head>
      <title>Rango</title>
      <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
  </head>

  <body>
      <h1>Rango Says...</h1>
      Hello World <strong>{{ boldmessage }}</strong><br />
      <a href="/rango/about/">About</a> <a href="/admin/">Register</a><br />
      <img src="{% static "rango.jpeg" %}" alt="Picture of Rango" /> <!-- New line -->
  </body>

</html>